,
:after,
:before {
  box-sizing: border-box;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

h3,
h4,
h5,
p {
  margin: 0;
}

body ::-moz-selection {
  background: rgba(164, 228, 245, .4);
}

body ::selection {
  background: rgba(164, 228, 245, .4);
}

h3,
h4,
h5,
p {
  margin-bottom: 1.5rem;
}

h3:last-child,
h4:last-child {
  margin-bottom: 0;
}

.vds-button {
  height: 3rem;
  padding: 0 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: transparent;
  border-radius: .25rem;
  color: #02b3e4;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.vds-button:active,
.vds-button:focus {
  outline: none;
  background: #f7f7f8;
}

.vds-button__content {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.vds-button--primary {
  background: #02b3e4;
  color: #fff;
}

.vds-button--primary:active,
.vds-button--primary:focus {
  background: #017a9b;
}

.vds-button--primary {
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 8px 16px 0 rgba(17, 22, 26, .08);
}

.vds-button--primary:hover {
  box-shadow: 0 4px 16px 4px rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 16px 24px 0 rgba(17, 22, 26, .08);
}

.vds-button--primary:active {
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
}

.vds-button--primary:focus {
  box-shadow: 0 0 0 4px #02b3e4;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  max-width: 40rem;
}

main._layout-module--main--20EWg ._layout-module--title-area--1yynf {
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: margin-left .2s ease-in-out, margin-right .2s ease-in-out;
  z-index: 9;
}

._layout-module--small-primary--rlHms+._layout-module--main--20EWg ._layout-module--title-area--1yynf {
  margin-left: 4rem;
}

._layout-module--main--20EWg ._layout-module--title-area--1yynf {
  margin-left: 0;
}

@media (max-width:46.24em) {
  ._layout-module--title-area--1yynf {
    width: 100%;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

*,
:after,
:before {
  box-sizing: inherit;
}

h3,
h4,
h5,
p {
  margin: 0;
}

body ::-moz-selection {
  background: rgba(164, 228, 245, .4);
}

body ::selection {
  background: rgba(164, 228, 245, .4);
}

h3,
h4,
h5,
p {
  margin-bottom: 1.5rem;
}

h3:last-child,
h4:last-child {
  margin-bottom: 0;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  max-width: 40rem;
}

.vds-button {
  font-family: Open Sans, sans-serif;
  font-size: .8125rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  height: 3rem;
  padding: 0 2rem;
  background: #fff;
  border: transparent;
  border-radius: .25rem;
  color: #02b3e4;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  transition: all .3s ease;
}

.vds-button:active,
.vds-button:focus {
  outline: none;
  background: #f7f7f8;
}

.vds-button__content {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
}

.vds-button--primary {
  background: #02b3e4;
  color: #fff;
}

.vds-button--primary:active,
.vds-button--primary:focus {
  background: #017a9b;
}

.vds-button--primary {
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 8px 16px 0 rgba(17, 22, 26, .08);
}

.vds-button--primary:hover {
  box-shadow: 0 4px 16px 4px rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 16px 24px 0 rgba(17, 22, 26, .08);
}

.vds-button--primary:active {
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
}

.vds-button--primary:focus {
  box-shadow: 0 0 0 4px #02b3e4;
}

/*! CSS Used from: https://classroom.udacity.com/css/app.22cd7.css */
html div,
html h3,
html h4,
html h5,
html p {
  line-height: 1.33333em;
  margin: 0;
  padding: 0;
}

html h3,
html h4,
html h5 {
  font-weight: 400;
  font-size: .875rem;
}

html main h3 {
  font-size: .65625rem;
}

html main h4 {
  color: #2e3d49;
  font-size: .9625rem;
}

html main p {
  font-size: .875rem;
}

html h3 {
  font-weight: 600;
  color: #2e3d49;
}

html h3,
html h4 {
  margin: 0;
  padding: 0;
}

html h4 {
  font-size: 14px;
}

.shared--header-small--1fJEM {
  color: #2e3d49;
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
}

.shared--header-meta--19afO {
  color: #7d97ad;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
}

.shared--subtitle-small--1lMk2 {
  font-size: .75rem;
  line-height: 16px;
}

.shared--subtitle-small--1lMk2 {
  color: #7d97ad;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.shared--outer-container--3eppq {
  box-sizing: border-box;
  max-width: 1024px;
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
}

@media (max-width:61.24em) {
  .shared--outer-container--3eppq {
    padding: 0 .875rem;
  }
}

/*! CSS Used from: https://classroom.udacity.com/css/1.a94ae.css */
.deadline-bar--container--djlS_ {
  background-color: #fafbfc;
  border-top: 1px solid #dbe2e8;
  position: relative;
}

.deadline-bar--content--X6Lwt {
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  min-height: 48px;
  justify-content: space-between;
}

.deadline-bar--large-info--3EH-W {
  flex-grow: 1;
  font-size: 14px;
  line-height: 16px;
  color: #2e3d49;
}

.deadline-bar--title--pN0sH {
  display: inline-block;
  margin-right: .5em;
}

.deadline-bar--content-context-label--1mbKu {
  line-height: 100%;
  text-transform: uppercase;
}

.deadline-bar--inner-content-container--ofeiZ {
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-left: 24px;
  position: relative;
}

.deadline-bar--inner-content-container--ofeiZ:before {
  left: 0;
  position: absolute;
  content: "";
  display: block;
  height: 22px;
  border-left: 1px solid #dbe2e8;
}

@media only screen and (max-width:900px) {
  .deadline-bar--large-info--3EH-W {
    display: none;
  }

  .deadline-bar--inner-content-container--ofeiZ {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .deadline-bar--inner-content-container--ofeiZ:before {
    display: none;
  }
}

/*! CSS Used from: https://classroom.udacity.com/css/7.85d1e.css */
.index--container--GSOp4 {
  background-color: #fff;
}

.index--lesson-info--3UNsy {
  transition: min-height .3s ease-in-out;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index--lesson-info--3UNsy {
  min-height: 192px;
}

.index--title-container--2XSQg {
  flex-grow: 1;
  padding-right: 1em;
}

.index--lesson-subtitle--2WJbh {
  text-transform: uppercase;
}

.index--deadline-bar--2_LhW {
  transition: height .3s ease-in-out;
}

.index--deadline-bar--2_LhW {
  min-height: 48px;
}

@media (max-width:46.24em) {
  .index--lesson-info--3UNsy {
    min-height: 60px;
  }

  .index--lesson-info--3UNsy .index--lesson-subtitle--2WJbh,
  .index--lesson-info--3UNsy .index--lesson-title--3nKEi {
    display: none;
  }
}