.courseCardHome {
  border-radius: .5rem;
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 8px 16px 0 rgba(17, 22, 26, .08);
  margin: 1.5rem 0;
  overflow: hidden;
  position: relative;
  transition: box-shadow .3s ease-in-out;
}

.courseCardHome:hover {
  box-shadow: 0 4px 16px 4px rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 16px 24px 0 rgba(17, 22, 26, .08);
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1F2932;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  margin: 1rem 0;
}

/* Active/current link */
.sidebar a.active {
  background-color: #02b3e4;
  color: white;
  margin: 1rem 0;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: transparent;
  color: white;
  margin: 1rem 0;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
    margin: 1rem 0;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 768px) {
  .sidebar a {
    text-align: center;
    float: none;
    margin: 1rem 0;
  }
}

.vds-icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  fill: currentColor;
  line-height: 0;
  stroke: currentColor;
  vertical-align: middle;
}

.vds-icon svg {
  height: 100%;
  width: 100%;
  stroke-width: 0;
}

.vds-icon--lg {
  height: 2.5rem;
  width: 2.5rem;
}

.vds-visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.vds-visually-hidden:active,
.vds-visually-hidden:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

._nav-module--logo--1Up9O {
  flex: 0 0 auto;
  margin: 1rem 0;
}